<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <!--无参构造函数-->
    <bean id="noArgsConstructorBean" class="org.example.ioc.xmlbean.NoArgsConstructorBean" />

    <!--有参构造函数-->
    <bean id="argsConstructorBean" class="org.example.ioc.xmlbean.ArgsConstructorBean" >
        <constructor-arg name="noArgsConstructorBean" ref="noArgsConstructorBean"/>
    </bean>

    <!--静态工厂方法-->
    <bean id="staticFactoryBean" class="org.example.ioc.xmlbean.StaticFactory" factory-method="createInstance" />

    <!--动态工厂方法-->
    <bean id="dynamicFactory" class="org.example.ioc.xmlbean.DynamicFactory"/>
    <bean id="dynamicFactoryBean" class="org.example.ioc.xmlbean.DynamicFactory.DynamicFactoryBean" factory-bean="dynamicFactory" factory-method="createInstance" />

    <!--Factory bean-->
    <bean id="exampleBean" class="org.example.ioc.xmlbean.ExampleFactoryBean" />
</beans>